@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* General style */
.urlbar-history-dropmarker,
#star-button,  
#page-proxy-favicon,
.scrollbutton-up,
.scrollbutton-down,
.tab-close-button,
.tab-icon-image,
#go-button {
    display: none !important;
}

thumb, scrollbarbutton {
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  background-color: -moz-Dialog;
}

#identity-box {
display: none !important;
}

* {
font-family: haxrcorpttf !important;
font-size: 16px !important;
font-weight: normal !important;
}

#nav-bar {

}

#downloads-button, #downloads-indicator-progress-area {
width: 20px !important;
}

#urlbar {
height: 20px !important;
border: none !important;
}

#urlbar[level="high"][pageproxystate="valid"] > .autocomplete-textbox-container ,
#urlbar[level="high"][pageproxystate="valid"] > .autocomplete-history-dropmarker ,
#urlbar[level="low"][pageproxystate="valid"] > .autocomplete-textbox-container ,
#urlbar[level="low"][pageproxystate="valid"] > .autocomplete-history-dropmarker {
  background: none !important;
color: inherit !important;
}

#tabbrowser-tabs {
text-align: center !important;

}

.tabbrowser-tab {
border: none !important;
}

.tabbrowser-tab:hover {
    border-bottom: 1px solid #D6BDC0 !important;
    transition: all 0.1s ease 0s !important;
    margin-bottom: 0px !important;
}

.tabbrowser-tab[selected=true], .tabbrowser-tab[selected=true]:hover {
color: #D6BDC0 !important;
font-size: 16px !important;
}

.tabbrowser-tab:first-child {
    margin-left: 2px !important;
}

.tabbrowser-tab:last-child {
    margin-right: -2px !important;
}





